/* Header */

.about-head-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 80px;
  margin-top: 80px;
}

.about-head-container .head-text h2 {
  color: var(--color-secondary);
  font-size: 90px;
  font-weight: 700;
  padding-bottom: 20px;
}

.about-head-container .head-text p {
  color: var(--color-primary);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1.9;
}

.about-head-container .head-image img {
  width: 550px;
}

/* AboutUs text */

.about-section-container .about-section-content article h2 {
  color: var(--color-primary);
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding: 90px 0 30px 0;
}

.about-section-container .about-section-content article p {
  font-size: 20px;
  color: var(--color-light);
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.9;
}

/* faculty Members */

.faculty-section-container h2 {
  color: var(--color-primary);
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding: 90px 0 60px 0;
}

.faculty-section-container .faculty-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  place-items: center;
  gap: 50px;
}

.faculty-section-container .faculty-cards-container article {
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 250px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px var(--color-light);
}

.faculty-section-container .faculty-cards-container article:hover {
  box-shadow: 0px 4px 5px var(--color-light);
}

.faculty-section-container .faculty-cards-container article #first-image img {
  height: 236px;
}

.faculty-section-container .faculty-cards-container article .faculty-image img {
  width: 220px;
  height: 257px;
  border-radius: 10px 10px 0 0;
}

.faculty-section-container .faculty-cards-container article .faculty-text {
  padding: 20px;
  text-align: center;
}

.faculty-section-container .faculty-cards-container article .faculty-text h4 {
  font-size: 16px;
  color: var(--color-secondary);
}

.faculty-section-container
  .faculty-cards-container
  article
  .faculty-text
  small {
  font-weight: 600;
  color: var(--color-light);
}

/* Admin Staff */

.admin-section-container h2 {
  color: var(--color-primary);
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding: 90px 0 60px 0;
}

.admin-section-container .admin-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.admin-section-container .admin-cards-container article {
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 250px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px var(--color-light);
}

.admin-section-container .admin-cards-container article:hover {
  box-shadow: 0px 4px 5px var(--color-light);
}

.admin-section-container .admin-cards-container article .admin-image img {
  width: 220px;
  height: 257px;
  border-radius: 10px 10px 0 0;
}

.admin-section-container .admin-cards-container article .admin-text {
  padding: 20px;
  text-align: center;
}

.admin-section-container .admin-cards-container article .admin-text h4 {
  font-size: 16px;
  color: var(--color-secondary);
}

.admin-section-container .admin-cards-container article .admin-text small {
  font-weight: 600;
  color: var(--color-light);
}

/* Student Developers */

.student-section-container h2 {
  color: var(--color-primary);
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding: 90px 0 60px 0;
}

.student-section-container h1 {
  color: var(--color-light);
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  padding: 60px 0 60px 0;
}

.student-section-container .student-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.student-section-container .student-cards-container article {
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 250px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px var(--color-light);
}

.student-section-container .student-cards-container article:hover {
  box-shadow: 0px 4px 5px var(--color-light);
}

.student-section-container .student-cards-container article .student-image img {
  width: 220px;
  height: 257px;
  border-radius: 10px;
}

.student-section-container .student-cards-container article .student-text {
  padding: 20px;
  text-align: center;
}

.student-section-container .student-cards-container article .student-text h4 {
  font-size: 16px;
  color: var(--color-secondary);
}

.student-section-container
  .student-cards-container
  article
  .student-text
  small {
  font-weight: 600;
  color: var(--color-light);
}

/*MEDIA QUERIES (TABLETS)*/

@media screen and (max-width: 1024px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  nav button {
    display: inline-block;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    z-index: 12;
    border: none;
  }

  nav button i {
    color: var(--color-primary);
  }

  nav button#close-menu-btn {
    display: none;
  }

  .nav__menu {
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
  }

  .nav__menu li {
    width: 100%;
    height: 70px;
    animation: animateNavItems 400ms linear forwards;
    transform-origin: top right;
    opacity: 0;
  }

  .nav__menu li:nth-child(2) {
    animation-delay: 200ms;
  }

  .nav__menu li:nth-child(3) {
    animation-delay: 400ms;
  }

  .nav__menu li:nth-child(4) {
    animation-delay: 600ms;
  }

  .nav__menu li:nth-child(5) {
    animation-delay: 800ms;
  }

  .nav__menu li:nth-child(6) {
    animation-delay: 1000ms;
  }

  .nav__menu li:nth-child(7) {
    animation-delay: 1200ms;
  }

  .nav__menu li:nth-child(8) {
    animation-delay: 1400ms;
  }

  @keyframes animateNavItems {
    0% {
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }

    100% {
      transform: rotateZ(0) rotateX(0) scale(1);
      opacity: 1;
    }
  }

  .nav__menu li a {
    background: var(--color-white);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    border-radius: 2px;
  }

  .nav__menu li a:hover {
    background: var(--color-secondary);
    color: var(--color-white);
  }

  .about-head-container {
    gap: 0;
    margin-top: 130px;
  }

  .about-head-container .head-text h2 {
    font-size: 60px;
  }

  .about-head-container .head-text p {
    font-size: 14px;
    width: 100%;
  }

  .about-head-container .head-image img {
    width: 400px;
  }

  .about-section-container .about-section-content article h2 {
    font-size: 34px;
  }

  .about-section-container .about-section-content article p {
    font-size: 16px;
  }

  .faculty-section-container h2 {
    font-size: 34px;
  }

  .faculty-section-container .faculty-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .admin-section-container h2 {
    font-size: 34px;
  }

  .student-section-container h2 {
    font-size: 34px;
  }
}

/* MEDIA QUERIES(PHONES) */

@media screen and (max-width: 600px) {
  .container {
    width: 94%;
    margin: 0 auto;
  }

  .nav__menu {
    right: 3%;
  }

  .about-head-container {
    grid-template-columns: 1fr;
    align-items: center;
    place-items: center;
    gap: 80px;
    margin-top: 130px;
  }

  .about-head-container .head-text h2 {
    font-size: 60px;
  }

  .about-head-container .head-text p {
    width: 100%;
  }

  .about-head-container .head-image img {
    width: 400px;
  }

  .about-section-container .about-section-content article h2 {
    font-size: 34px;
  }

  .about-section-container .about-section-content article p {
    font-size: 15px;
    width: 100%;
  }

  .faculty-section-container h2 {
    font-size: 34px;
  }

  .faculty-section-container .faculty-cards-container {
    grid-template-columns: 1fr;
  }

  .admin-section-container h2 {
    font-size: 34px;
  }

  .admin-section-container .admin-cards-container {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .student-section-container h2 {
    font-size: 34px;
  }

  .student-section-container h1 {
    font-size: 46px;
  }
}

/* Media queries for small screen */

@media screen and (max-width: 400px) {
  .container {
    width: 94%;
    margin: 0 auto;
  }

  .about-head-container {
    grid-template-columns: 1fr;
    place-items: center;
    align-items: center;
    gap: 80px;
    margin-top: 130px;
  }

  .about-head-container .head-text h2 {
    font-size: 60px;
  }

  .about-head-container .head-text p {
    width: 100%;
  }

  .about-head-container .head-image img {
    width: 350px;
  }
}
